.app.dark {
  --bg-color: rgb(24, 22, 22);

  --primary-color: rgb(238, 225, 225);
  --secondary-color: #9c9595;

   --container-color: #444242;

  --color-footer: rgb(3, 3, 3);

  --color-button: rgb(207, 138, 9);
  --color-button-hovered: rgb(170, 113, 6);

 
  --color-button-active: #c0900c;

  --color-primary: #eca115;
  --color-primary-hovered: #9e6105;
  --color-secondary: inherit;
  --color-secondary-hovered: #9c9595;
}
