:root {
  --bg-color: #F4F4F4;

  --primary-color: #000000;
  --secondary-color: #9c9595;
  --container-color: #FFFFFF;

  --color-footer: #18003E;

  --color-button: #6A0BFF;
  --color-button-hovered: #5908dd;
  --color-button-active: #5908dd;

  --color-button-primary: #6A0BFF;
  --color-button-primary-hovered: #5908dd;
  --color-secondary: inherit;
  --color-secondary-hovered: #9c9595;

 


}
