.prepare_interview {
    flex-wrap: nowrap;
    background-color: var(--color-section-prepare-interview);
}

.about_platform {
    flex-basis: 50%;
}

.filters {
    flex-basis: 30%;
    background-color: var(--color-mainPage-filters);
}