.header {
    position: sticky;
    top: 0;
    padding: 0.5rem;
    margin: 0 auto;
    max-width: 1078px;
    background-color: var(--bg-color);
    z-index: var(--z-index-header);
    height: var(--navbar-height);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header_nav {
    display: flex;
    gap:3rem; 
    align-items: center;
}

.buttons {
    display: flex;
    gap: .8rem
}