.header {
    position: sticky;
    top: 0;
    padding: 0.5rem;
    background-color: inherit;
    z-index: var(--z-index-header);
    height: var(--navbar-height);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header_nav {
    display: flex;
    gap:3rem; 
    align-items: center;
}