.mainPage {
    min-height: calc(100vh - var(--navbar-height));
    max-width: 1280px;
    margin: 0 auto;

    padding: 2rem 1rem;
}


.goal {
    display: flex;
}



.learning_technologies {
    display: flex;

    .technologies_left, .technologies_right {
        flex-basis: 50%;
    }
}

